<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resposta para o User</title>
</head>
<body>
    <h1>Resposta:</h1>
    <p>Mensagem do servidor: <%= mensagem %>  </p>
    <p>Marca: <%= marca_c %> Modelo: <%= modelo_c %></p>
    <p>Ano: <%= ano_c %> Quantidade Disponivel: <%= qtd_c %></p>
    <p>click <a href="/pg_principal">log</a></p>
</body>
</html>